.image-container-5 img {
    max-width: 5%;
    float: left;
    padding-right: 10px;
}

.text-image-floating {
    max-width: 30%;
    display: block;
    float: right;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
}

.text-image-floating-50 {
    max-width: 50%;
    display: block;
    float: right;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
}