.image-container-50 img{
    max-width: 50%;
    float: right;
}

.image-container-30 img{
    max-width: 30%;
    float: right;
}

.image-container-5 img{
    max-width: 5%;
    float: left;
    padding-right: 10px;
}